<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <body>
        <% if logged_in? %>
            <div class="row">
                <aside class="col-md-4">
                    <section class="user_info">
                        <%= render 'shared/user_info' %>
                    </section>
                    <section class="stats">
                        <%= render 'shared/stats' %>
                    </section>
                    <section class="article_form">
                        <%= render 'shared/article_form' %>
                    </section>
                </aside>
                <div class="col-md-8">
                    <h3>Articles Feed</h3>
                    <%= render 'shared/feed' %>
                </div>
            </div>
        <% else %>
        <div class="center jumbotron">
            <h1>Welcome to the Cong's Blog</h1>
            <h2>This is the home page for the
            <a href="https://www.railstutorial.org/">Blog</a>
            sample application.
            </h2>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary x" %>
        </div>
        <%= link_to image_tag("railslogo.png", alt: "Rails logo", width: "200px"),
        "https://rubyonrails.org/" %>
        </body>
        <% end %>
</html>