<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag controller_name if javascript_exists?(controller_name) %>
    <%= stylesheet_link_tag controller_name if stylesheet_exists?(controller_name) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
